body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

img.partners{
	width : 100%;
	height : 60px;
}

img.calendar-sheets{
	width : 100%;
	
}

div.feed-infos{
	font-size: 12px;
	text-align : right;
}