<!-- Modal Update Feed -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form novalidate name="feedForm" class="form-horizontal" role="form"
				ng-submit="submitForm()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Mise &#224; jour
						"{{feedSelected.title}}"</h4>
				</div>

				<div class="modal-body">

					<div class="form-group">
						<label for="title" class="col-sm-3 control-label">Titre</label>
						<div class="col-sm-9"
							ng-class="{'has-error':feedForm.title.$invalid && !feedForm.title.$pristine}">
							<input id="title" ng-model="feedSelected.title" type="text"
								name="title" size="60" required>
							<p ng-show="feedForm.title.$invalid && !feedForm.title.$pristine"
								class="help-block">Veuillez saisir un titre</p>
						</div>
					</div>
					<div class="form-group">
						<label for="creationDate" class="col-sm-3 control-label">Date
							de cr&#233;ation</label>
						<div class="col-sm-9"
							ng-class="{'has-error':feedForm.creationDate.$invalid && !feedForm.creationDate.$pristine}">
							<!-- <date-input ng-model="feedSelected.creationDate"></date-input> -->
							<input id="creationDate" ng-model="creationDate" type="text"
								date-picker name="creationDate" size="60" required
								french-date-validator>
							<p
								ng-show="feedForm.creationDate.$invalid && !feedForm.creationDate.$pristine"
								class="help-block">Veuillez saisir une date au format
								dd/MM/yyyy</p>
						</div>
					</div>

					<div class="form-group">
						<label for="content" class="col-sm-3 control-label">Contenu</label>
						<div class="col-sm-9"
							ng-class="{'has-error':feedForm.content.$invalid && !feedForm.content.$pristine}">
							<textarea id="content" ng-model="feedSelected.content"
								class="form-control" rows="5" required></textarea>
							<p
								ng-show="feedForm.content.$invalid && !feedForm.content.$pristine"
								class="help-block">Veuillez saisir votre article</p>
						</div>
					</div>

					<div class="form-group">
						<span> <label class="col-sm-3 control-label">
								Facebook Like</label><input class="col-sm-1" type="checkbox"
							ng-model="feedSelected.facebookLike">
						</span> <span> <label class="col-sm-3 control-label"> Top
								position</label><input class="col-sm-1" type="checkbox"
							ng-model="feedSelected.top">
						</span>
					</div>

					<div class="form-group">
						<span> <label class="col-sm-3 control-label"
							style="display: inline;">Image &#224; gauche </label><input
							class="col-sm-1" type="radio" name="optionsRadios"
							id="optionsRadios1" ng-model="feedSelected.imagePosition"
							value="left">
						</span> <span> <label class="col-sm-3 control-label">Image
								&#224; droite </label><input class="col-sm-1" type="radio"
							name="optionsRadios" id="optionsRadios2"
							ng-model="feedSelected.imagePosition" value="right">
						</span>

					</div>
					<div class="form-group">
						<label for="imageTitle" class="col-sm-3 control-label">Titre
							de la photo</label>
						<div class="col-sm-9">
							<input id="imageTitle" ng-model="feedSelected.imageTitle"
								type="text" name="imageTitle" size="60">
						</div>
					</div>
					<div class="form-group">
						<label for="imageFile" class="col-sm-3 control-label">Photo</label>
						<div class="col-sm-9"
							ng-class="{'has-error':fileValue.notValidImage || fileValue.serverError != ''}">
							<input type="file" file-model="fileValue">

							<p ng-show="fileValue.notValidImage" class="help-block">La
								photo doit etre au format jpg !</p>
							<p ng-show="fileValue.serverError != ''" class="help-block"
								ng-bind-html="fileValue.serverError"></p>
							<img ng-show="feedSelected.imageUrl != null"
								ng-src="{{formatImageUrl(feedSelected)}}">
							<p>
								<button class="btn btn-danger btn-sm"
									ng-show="feedSelected.imageUrl != null"
									ng-click="eraseImage(feedSelected)" ng-disabled="buttonSubmit.disabled">
									<i class="glyphicon glyphicon-minus-sign"></i> Supprimer la
									photo
								</button>
							</p>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="submit" type="button" class="btn btn-success"
						ng-disabled="feedForm.$invalid || buttonSubmit.disabled">Mettre
						&#224; jour</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				</div>

			</form>
		</div>
	</div>
</div>