<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Calendrier des rencontres 2015/2016 en
			Vaucluse</h3>
	</div>
	<div class="panel-body">
		<a href="static/resources/pdf/calendrier 2015-2016 Vaucluse.pdf"><i class="glyphicon glyphicon-download-alt"></i> T&#233;l&#233;charger
			la version PDF</a> <img class="calendar-sheets"
			src="static/resources/images/c1-20152016.jpg"> <img
			class="calendar-sheets"
			src="static/resources/images/c2-20152016.jpg"> <img
			class="calendar-sheets"
			src="static/resources/images/c3-20152016.jpg"> <img
			class="calendar-sheets"
			src="static/resources/images/c4-20152016.jpg">
		</src>
	</div>
</div>
