<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Membres du CBD Vaucluse</h3>
	</div>
	<table class="table">
		<tr>
			<td>
				<p>
					<b>Pr&#233;sident : Raymond Vich</b>
				</p>
				<p>15 rue des Tours- 84600- VALREAS</p>
				<p>
					<i class="glyphicon glyphicon-earphone"></i> 04 90 35 28 38, <i
						class="glyphicon glyphicon-phone"></i> 06 87 11 19 45
				</p>
				<p>
					<a href="mailto:vich.raymond@neuf.fr"><i
						class="glyphicon glyphicon-envelope"></i> vich.raymond@neuf.fr</a>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<b>Secr&#233;taire g&#233;n&#233ral : Gilbert NAVARRO</b>
				</p>
				<p>493 Avenue Marius Coulon-84500-BOLLENE</p>
				<p>
					<i class="glyphicon glyphicon-earphone"></i> 06 87 80 59 46
				</p>
				<p>
					<a href="mailto:pyrame@gmail.com"><i
						class="glyphicon glyphicon-envelope"></i> pyrame@gmail.com</a>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<b>Tr&#233;sorier : Alain Canonge</b>
				</p>
				<p>Chemin des N&#233;gades-84100-ORANGE</p>
				<p>
					<i class="glyphicon glyphicon-earphone"></i> 04 90 34 98 39
				</p>
				<p>
					<a href="mailto:negades.alain@wanadoo.fr"><i
						class="glyphicon glyphicon-envelope"></i> negades.alain@wanadoo.fr</a>
				</p>
			</td>
		</tr>
	</table>
</div>