<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Le mot du Pr&#233;sident</h3>
	</div>
	<div class="panel-body">
		<p>J'ai voulu cr&#233;er ce blog pour faire connaitre notre
			passion qui est le sport boule lyonnaise. Grace &#224; nos
			b&#233n&#233voles, notre association organise des concours et des
			repas dans la convivialit&#233; avec toutes les personnes qui
			l'entoure dans une bonne ambiance.</p>
		<p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Inscriptions au Concours d'Orange</h3>
	</div>
	<div class="panel-body">
		<p>Depechez vous de venir vous inscrire au concours d'Orange.
			Beaucoup de lots &#224; gagner et super ambiance assur&#233;e !!</p>
		<p>
		<div class="fb-like"></div>
	</div>
</div>