<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Info 1</h3>
	</div>
	<div class="panel-body">
		<p>Donec id elit non mi porta gravida at eget metus. Fusce
			dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
			fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
			mollis euismod. Donec sed odio dui.</p>
		<p>
			<a class="btn btn-default" href="#" role="button">View details
				&raquo;</a>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Info 2</h3>
	</div>
	<div class="panel-body">
		<p>Donec id elit non mi porta gravida at eget metus. Fusce
			dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
			fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
			mollis euismod. Donec sed odio dui.</p>
		<p>
			<a class="btn btn-default" href="#" role="button">View details
				&raquo;</a>
	</div>
</div>