
<div class="modal-header">
	<h3 class="modal-title">Ajouter un association</h3>
</div>
<form novalidate name="formAsso" class="form-horizontal" role="form"
	ng-submit="formAsso.$valid && ok()">
	<div class="modal-body">
		<div class="form-group">
			<label for="assoName" class="col-sm-3 control-label">Nom Asso</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.assoName.$invalid && !formAsso.assoName.$pristine}">
				<input id="assoName" ng-model="asso.assoName" type="text"
					name="title" size="60" required>
				<p
					ng-show="formAsso.assoName.$invalid && !formAsso.assoName.$pristine"
					class="help-block">Veuillez saisir le nom de l'association</p>
			</div>
		</div>
		<div class="form-group">
			<label for="assoCodeLabel" class="col-sm-3 control-label">Code
				Asso</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.assoCodeLabel.$invalid && !formAsso.assoCodeLabel.$pristine}">
				<input id="assoCodeLabel" ng-model="asso.assoCodeLabel" type="text"
					name="assoCodeLabel" size="60" required>
				<p
					ng-show="formAsso.assoCodeLabel.$invalid && !formAsso.assoCodeLabel.$pristine"
					class="help-block">Veuillez saisir un code association (PRO XX
					XX XX)</p>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Fonction</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.function.$invalid && !formAsso.function.$pristine}">
				<input id="function" ng-model="asso.function" type="text"
					name="title" size="60" required>
				<p
					ng-show="formAsso.function.$invalid && !formAsso.function.$pristine"
					class="help-block">Veuillez saisir une fonction</p>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Pr&#233;nom</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.firstname.$invalid && !formAsso.firstname.$pristine}">
				<input id="firstname" ng-model="asso.firstname" type="text"
					name="firstname" size="60" required>
				<p
					ng-show="formAsso.firstname.$invalid && !formAsso.firstname.$pristine"
					class="help-block">Veuillez saisir un pr&#233;nom</p>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Nom</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.lastname.$invalid && !formAsso.lastname.$pristine}">
				<input id="lastname" ng-model="asso.lastname" type="text"
					name="lastname" size="60" required>
				<p
					ng-show="formAsso.lastname.$invalid && !formAsso.lastname.$pristine"
					class="help-block">Veuillez saisir nom</p>
			</div>
		</div>
		<div class="form-group">
			<label for="postalCode" class="col-sm-3 control-label">Code
				Postal</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.postalCode.$invalid && !formAsso.postalCode.$pristine}">
				<input id="postalCode" ng-model="asso.postalCode" type="text"
					name="postalCode" size="60" required>
				<p
					ng-show="formAsso.postalCode.$invalid && !formAsso.postalCode.$pristine"
					class="help-block">Veuillez saisir un code postal</p>
			</div>
		</div>
		<div class="form-group">
			<label for="address" class="col-sm-3 control-label">Adresse</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.address.$invalid && !formAsso.address.$pristine}">
				<input id="address" ng-model="asso.address" type="text"
					name="address" size="60" required>
				<p
					ng-show="formAsso.address.$invalid && !formAsso.address.$pristine"
					class="help-block">Veuillez saisir une adresse</p>
			</div>
		</div>
		<div class="form-group">
			<label for="city" class="col-sm-3 control-label">Ville</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.city.$invalid && !formAsso.city.$pristine}">
				<input id="city" ng-model="asso.city" type="text" name="city"
					size="60" required>
				<p ng-show="formAsso.city.$invalid && !formAsso.city.$pristine"
					class="help-block">Veuillez saisir une ville</p>
			</div>
		</div>
		<div class="form-group">
			<label for="phone" class="col-sm-3 control-label">Fixe</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.phone.$invalid && !formAsso.phone.$pristine}">
				<input id="phone" ng-model="asso.phone" type="text" name="phone"
					size="60">
				<p ng-show="formAsso.phone.$invalid && !formAsso.phone.$pristine"
					class="help-block">Veuillez saisir un fixe</p>
			</div>
		</div>
		<div class="form-group">
			<label for="mobile" class="col-sm-3 control-label">Mobile</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.mobile.$invalid && !formAsso.mobile.$pristine}">
				<input id="mobile" ng-model="asso.mobile" type="text" name="mobile"
					size="60">
				<p ng-show="formAsso.mobile.$invalid && !formAsso.mobile.$pristine"
					class="help-block">Veuillez saisir un mobile</p>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.email.$invalid && !formAsso.email.$pristine}">
				<input id="email" ng-model="asso.email" type="email" name="email"
					size="60" >
				<p ng-show="formAsso.email.$invalid && !formAsso.email.$pristine"
					class="help-block">Veuillez saisir un email</p>
			</div>
		</div>
		<div class="form-group">
			<label for="position" class="col-sm-3 control-label">Position</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.position.$invalid && !formAsso.position.$pristine}">
				<input id="position" ng-model="asso.position" type="number"
					name="position" size="1" required>
				<p
					ng-show="formAsso.position.$invalid && !formAsso.position.$pristine"
					class="help-block">Veuilez saisir un chiffre. Cela permet de
					d&#233;finir l'ordre d'affichage dans la liste des partenaires</p>
			</div>
		</div>


		<div class="form-group">
			<label for="imageFile" class="col-sm-3 control-label">Photo</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formAsso.imageFile.$invalid && !formAsso.imageFile.$pristine}">
				<input type="file" name="imageFile" file-model="addAssoImage"
					required>
				<p
					ng-show="addAssoImage.error != '' && addAssoImage.error!='pristine' "
					class="help-block" ng-bind-html="addAssoImage.error"></p>
			</div>
		</div>

		<p ng-show="serverError != ''" class="help-block"
			ng-bind-html='serverError'></p>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-disabled='loading'>OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Fermer</button>
	</div>
</form>