
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Gestion des Association Sport Boule en Vauclue <span><button
					class="btn btn-success btn-sm" ng-click="openAddAsso('lg')">
					<i class="glyphicon glyphicon-plus-sign"></i> ajouter une
					association
				</button></span>
		</h3>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Nom Asso</th>
				<th>Code Asso</th>				
				<th>Photo</th>
				<th>Ordre</th>
				<th>Action</th>
			</tr>
		</thead>

		<tr ng-repeat="asso in assos | orderBy:['+position','+assoName']">

			<td ng-bind-html="asso.assoName"></td>
			<td ng-bind-html="asso.assoCodeLabel"></td>
			
			<td><img class="admin-asso-thumb img-thumbnail"
				ng-src="{{asso.photoUrl}}"></td>
			<td ng-bind-html="asso.position"></td>
			<td><span><button class="btn btn-success btn-sm"
						ng-click="openUpdateAsso('lg', asso)">
						<i class="glyphicon glyphicon-circle-arrow-up"></i> Modifier
					</button></span><span><button class="btn btn-danger btn-sm"
						ng-click="openDeleteAsso('lg', asso)">
						<i class="glyphicon glyphicon-minus-sign"></i> Supprimer
					</button></span></td>
		</tr>
	</table>
</div>