
<div class="modal-header">
	<h3 class="modal-title">Modifier un contact</h3>
</div>
<form novalidate name="formContact" class="form-horizontal" role="form"
	ng-submit="formContact.$valid && ok()">
	<div class="modal-body">
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Fonction</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.function.$invalid && !formContact.function.$pristine}">
				<input id="function" ng-model="contact.function" type="text"
					name="title" size="60" required>
				<p
					ng-show="formContact.function.$invalid && !formContact.function.$pristine"
					class="help-block">Veuillez saisir une fonction</p>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Pr&#233;nom</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.firstname.$invalid && !formContact.firstname.$pristine}">
				<input id="firstname" ng-model="contact.firstname" type="text"
					name="firstname" size="60" required>
				<p
					ng-show="formContact.firstname.$invalid && !formContact.firstname.$pristine"
					class="help-block">Veuillez saisir un pr&#233;nom</p>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Nom</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.lastname.$invalid && !formContact.lastname.$pristine}">
				<input id="lastname" ng-model="contact.lastname" type="text"
					name="lastname" size="60" required>
				<p
					ng-show="formContact.lastname.$invalid && !formContact.lastname.$pristine"
					class="help-block">Veuillez saisir nom</p>
			</div>
		</div>
		<div class="form-group">
			<label for="postalCode" class="col-sm-3 control-label">Code
				Postal</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.postalCode.$invalid && !formContact.postalCode.$pristine}">
				<input id="postalCode" ng-model="contact.postalCode" type="text"
					name="postalCode" size="60" required>
				<p
					ng-show="formContact.postalCode.$invalid && !formContact.postalCode.$pristine"
					class="help-block">Veuillez saisir un code postal</p>
			</div>
		</div>
		<div class="form-group">
			<label for="address" class="col-sm-3 control-label">Adresse</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.address.$invalid && !formContact.address.$pristine}">
				<input id="address" ng-model="contact.address" type="text"
					name="address" size="60" required>
				<p
					ng-show="formContact.address.$invalid && !formContact.address.$pristine"
					class="help-block">Veuillez saisir une adresse</p>
			</div>
		</div>
		<div class="form-group">
			<label for="city" class="col-sm-3 control-label">Ville</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.city.$invalid && !formContact.city.$pristine}">
				<input id="city" ng-model="contact.city" type="text" name="city"
					size="60" required>
				<p
					ng-show="formContact.city.$invalid && !formContact.city.$pristine"
					class="help-block">Veuillez saisir une ville</p>
			</div>
		</div>
		<div class="form-group">
			<label for="phone" class="col-sm-3 control-label">Fixe</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.phone.$invalid && !formContact.phone.$pristine}">
				<input id="phone" ng-model="contact.phone" type="text" name="phone"
					size="60">
				<p
					ng-show="formContact.phone.$invalid && !formContact.phone.$pristine"
					class="help-block">Veuillez saisir un fixe</p>
			</div>
		</div>
		<div class="form-group">
			<label for="mobile" class="col-sm-3 control-label">Mobile</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.mobile.$invalid && !formContact.mobile.$pristine}">
				<input id="mobile" ng-model="contact.mobile" type="text"
					name="mobile" size="60">
				<p
					ng-show="formContact.mobile.$invalid && !formContact.mobile.$pristine"
					class="help-block">Veuillez saisir un mobile</p>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.email.$invalid && !formContact.email.$pristine}">
				<input id="email" ng-model="contact.email" type="email" name="email"
					size="60" required>
				<p
					ng-show="formContact.email.$invalid && !formContact.email.$pristine"
					class="help-block">Veuillez saisir un email</p>
			</div>
		</div>
		<div class="form-group">
			<label for="position" class="col-sm-3 control-label">Position</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formContact.position.$invalid && !formContact.position.$pristine}">
				<input id="position" ng-model="contact.position" type="number"
					name="position" size="1" required>
				<p
					ng-show="formContact.position.$invalid && !formContact.position.$pristine"
					class="help-block">Veuilez saisir un chiffre. Cela permet de
					d&#233;finir l'ordre d'affichage dans la liste des partenaires</p>
			</div>
		</div>

		<div class="form-group">
			<label for="imageFile" class="col-sm-3 control-label">Image</label>
			<div class="col-sm-9">
				<input type="file" name="imageFile" file-model="updateContactImage">
				<img class="admin-contact-thumb img-thumbnail" ng-src="{{contact.photoUrl}}">
				<p ng-show="updateContactImage.error != ''" class="help-block"
					ng-bind-html="updateContactImage.error"></p>
			</div>			

			<p ng-show="serverError != ''" class="help-block"
				ng-bind-html='serverError'></p>

		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" ng-disabled='loading'>OK</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Fermer</button>
		</div>
</form>



</div>