<?xml version="1.0" encoding="UTF-8" ?>


<configuration scan="true">

	<include file="/home/cbd84/config/cbd84-logback.xml" /> 


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>


