<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Calendrier des rencontres 2015/2016 en
			Vaucluse</h3>
	</div>
	<div class="panel-body">
		<div>
			<a href="static/resources/pdf/calendrier 2015-2016 Vaucluse.pdf"><i
				class="glyphicon glyphicon-download-alt"></i> T&#233;l&#233;charger
				la version PDF</a>
		</div>
		<div>
			<a href="static/resources/xls/calendrier 2015-2016 Vaucluse.xls"><i
				class="glyphicon glyphicon-download-alt"></i> T&#233;l&#233;charger
				la version Excel</a>
		</div>
		<div>
		<img class="calendar-sheets" src="static/resources/images/c1-20152016.jpg">
		</div>
		<div>
		<img class="calendar-sheets" src="static/resources/images/c2-20152016.jpg">
		</div>
		<div>
		<img class="calendar-sheets" src="static/resources/images/c3-20152016.jpg">
		</div>
		<div>
		<img class="calendar-sheets" src="static/resources/images/c4-20152016.jpg">
		</div>
	</div>
</div>
