<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Membres du CBD Vaucluse</h3>
	</div>
	<table class="table">	
		<tr ng-repeat="contact in contacts">
			<td>
				<p>
					<b><span ng-bind-html="contact.function"></span> : <span ng-bind-html="contact.firstname"></span> <span ng-bind-html="contact.lastname"></span></b>
				</p>
				<p >
				<span ng-bind-html="contact.address"></span> 
				</p>
				<p>
				 <span ng-bind-html="contact.postalCode"></span> <span ng-bind-html="contact.city"></span>
				</p>
				<p ng-show="contact.phone">
					<i class="glyphicon glyphicon-earphone"></i> <span ng-bind-html="contact.phone"></span>
				</p>
				<p ng-show="contact.mobile">
					<i class="glyphicon glyphicon-phone"></i> <span ng-bind-html="contact.mobile"></span> 					
				</p>
				<p>
				<a href="mailto:{{contact.email}}"><i
						class="glyphicon glyphicon-envelope"></i> <span ng-bind-html="contact.email"></span></a>
				</p>
			</td>
			<td>
			<img class="contact-portrait" ng-src="{{contact.photoUrl}}">
			</td>
		</tr>
		
	</table>
</div>
<!-- 
<tr>
			<td>
				<p>
					<b>Secr&#233;taire g&#233;n&#233ral : Gilbert NAVARRO</b>
				</p>
				<p>493 Avenue Marius Coulon-84500-BOLLENE</p>
				<p>
					<i class="glyphicon glyphicon-earphone"></i> 06 87 80 59 46
				</p>
				<p>
					<a href="mailto:pyrame@gmail.com"><i
						class="glyphicon glyphicon-envelope"></i> pyrame@gmail.com</a>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<b>Tr&#233;sorier : Alain Canonge</b>
				</p>
				<p>Chemin des N&#233;gades-84100-ORANGE</p>
				<p>
					<i class="glyphicon glyphicon-earphone"></i> 04 90 34 98 39
				</p>
				<p>
					<a href="mailto:negades.alain@wanadoo.fr"><i
						class="glyphicon glyphicon-envelope"></i> negades.alain@wanadoo.fr</a>
				</p>
			</td>
		</tr> -->