
<div class="modal-header">
	<h3 class="modal-title">Modifier une actualit&#233;</h3>
</div>
<form novalidate name="formFeed" class="form-horizontal" role="form"
	ng-submit="formFeed.$valid && ok()">
	<div class="modal-body">

		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Titre</label>
			<div class="col-sm-9"
				ng-class="{'has-error':feedForm.title.$invalid && !feedForm.title.$pristine}">
				<input id="title" ng-model="feed.title" type="text" name="title"
					size="60" required>
				<p ng-show="feedForm.title.$invalid && !feedForm.title.$pristine"
					class="help-block">Veuillez saisir un titre</p>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Date de
				cr&#233;ation</label>
			<div class="col-sm-3">
				<p class="input-group">
					<input type="text" class="form-control"
						uib-datepicker-popup="dd/MM/yyyy" ng-model="feed.creationDate"
						is-open="status.opened" min-date="minDate" max-date="maxDate"
						datepicker-options="dateOptions" ng-required="true"
						close-text="Close" /> <span class="input-group-btn">
						<button type="button" class="btn btn-default"
							ng-click="open($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
		</div>

		<div class="form-group">
			<label for="content" class="col-sm-3 control-label">Contenu</label>
			<div class="col-sm-9"
				ng-class="{'has-error':feedForm.content.$invalid && !feedForm.content.$pristine}">
				<textarea class="form-control" ui-tinymce="tinymceOptions" ng-model="feed.content"
					required></textarea>
				<!-- <textarea id="content" ng-model="feed.content"
								class="form-control" rows="5" required></textarea> -->
				<p
					ng-show="feedForm.content.$invalid && !feedForm.content.$pristine"
					class="help-block">Veuillez saisir votre article</p>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Auteur</label>
			<div class="col-sm-9"
				ng-class="{'has-error':feedForm.author.$invalid && !feedForm.author.$pristine}">
				<input id="author" ng-model="feed.author" type="text" name="author"
					size="60" required>
				<p ng-show="feedForm.author.$invalid && !feedForm.author.$pristine"
					class="help-block">Veuillez saisir un auteur</p>
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label"></label>
			<div class="btn-group control-label col-sm-6">
				<label class="btn btn-primary" ng-model="feed.facebookLike"
					uib-btn-checkbox>Facebook Like</label> <label
					class="btn btn-primary" ng-model="feed.top" uib-btn-checkbox>Top</label>
			</div>
		</div>


		<div class="form-group">
			<label for="imageTitle" class="col-sm-3 control-label">Titre
				de la photo</label>
			<div class="col-sm-9">
				<input id="imageTitle" ng-model="feed.imageTitle" type="text"
					name="imageTitle" size="60">
			</div>
		</div>
		<!-- 		<div class="form-group">
						<label for="imageFile" class="col-sm-3 control-label">Photo</label>
						<div class="col-sm-9"
							ng-class="{'has-error':fileValue.notValidImage || fileValue.serverError != ''}">
							<input type="file" file-model="fileValue">

							<p ng-show="fileValue.notValidImage" class="help-block">La
								photo doit etre au format jpg !</p>
							<p ng-show="fileValue.serverError != ''" class="help-block"
								ng-bind-html="fileValue.serverError"></p>
							<img ng-show="feed.imageUrl != null"
								ng-src="{{formatImageUrl(feed)}}">
							<p>
								<button class="btn btn-danger btn-sm"
									ng-show="feed.imageUrl != null"
									ng-click="eraseImage(feed)"
									ng-disabled="buttonSubmit.disabled">
									<i class="glyphicon glyphicon-minus-sign"></i> Supprimer la
									photo
								</button>
							</p>
						</div>
					</div> -->

		<div class="form-group">
			<label for="imageFile" class="col-sm-3 control-label">Photo</label>
			<div class="col-sm-9"
				ng-class="{'has-error':formFeed.imageFile.$invalid && !formFeed.imageFile.$pristine}">
				<input type="file" name="imageFile" file-model="updateFeedImage"
					>
				<p ng-show="feed.imageUrl">
					<img ng-src="{{feed.imageUrl}}" class="admin-contact-thumb img-thumbnail">
					<button type="button" class="btn btn-danger btn-sm" ng-click="eraseImage()">
						<i class="glyphicon glyphicon-minus-sign"></i> Supprimer la photo
					</button>
				</p>
				<p
					ng-show="updateFeedImage.error != '' && updateFeedImage.error!='pristine' "
					class="help-block" ng-bind-html="updateFeedImage.error"></p>
			</div>
		</div>

		<div class="form-group" ng-show="feed.imageUrl">
			<label class="col-sm-3 control-label">Positionnement de
				l'image</label>
			<div class="btn-group control-label col-sm-6">
				<label class="btn btn-primary" ng-model="feed.imagePosition"
					uib-btn-radio="'left'" uncheckable btn-checkbox-true>Image
					&#224; gauche</label> <label class="btn btn-primary"
					ng-model="feed.imagePosition" uib-btn-radio="'right'" uncheckable
					btn-checkbox-true>Image &#224; droite</label>
			</div>
		</div>


		<p ng-show="serverError != ''" class="help-block"
			ng-bind-html='serverError'></p>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-disabled='loading'>OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Fermer</button>
	</div>
</form>