<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title">Associations Sport Boule en Vaucluse</h3>
	</div>
	<div class="panel-body">
		<div>
			<a href="contacts/report"><i
				class="glyphicon glyphicon-download-alt"></i> T&#233;l&#233;charger
				la version PDF</a>
		</div>
	</div>
</div>

<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title">
			Liste des Associations <i class="glyphicon glyphicon-search"></i> <input
				type="text" ng-model="searchTextAsso">
		</h3>
	</div>
	<div class="panel-body">
		<div>
			<table class="table">
				<tr ng-repeat="asso in assos | filter:searchTextAsso">
					<td>
						<p>
							<b><span ng-bind-html="asso.assoCodeLabel"></span> : <span
								ng-bind-html="asso.assoName"></span></b>
						</p>
						<p>
							<span ng-bind-html="asso.function"></span> : <span
								ng-bind-html="asso.firstname"></span> <span
								ng-bind-html="asso.lastname"></span>
						</p>
						<p>
							<span ng-bind-html="asso.address"></span>
						</p>
						<p>
							<span ng-bind-html="asso.postalCode"></span> <span
								ng-bind-html="asso.city"></span>
						</p>
						<p ng-show="asso.correspondance">
							Correspondance : <span ng-bind-html="asso.correspondance"></span>
						</p>
						<p ng-show="asso.boulodrome">
							Boulodrome : <span ng-bind-html="asso.boulodrome"></span>
						</p>
						<p ng-show="asso.phone">
							<i class="glyphicon glyphicon-earphone"></i> <span
								ng-bind-html="asso.phone"></span>
						</p>
						<p ng-show="asso.mobile">
							<i class="glyphicon glyphicon-phone"></i> <span
								ng-bind-html="asso.mobile"></span>
						</p>
						<p ng-show="asso.email">
							<a href="mailto:{{asso.email}}"><i
								class="glyphicon glyphicon-envelope"></i> <span
								ng-bind-html="asso.email"></span></a>
						</p>
						<button ng-show="asso.history" ng-click="showhistory=!showhistory" ng-init="showhistory=false" class="btn btn-primary"><div ng-show="showhistory===false">Afficher l'Histoire</div><div ng-show="showhistory===true">Cacher l'Histoire</div></button>
						<p ng-show="showhistory" class="well" ng-bind-html="asso.history">
							
						</p>
					</td>
					<td><img class="asso-portrait img-thumbnail"
						ng-src="/cbd84/{{asso.photoUrl}}"></td>
				</tr>

			</table>
		</div>
	</div>

</div>
