<div ng-repeat="calendar in calendars">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" ng-bind-html="calendar.title"></h3>
		</div>
		<div class="panel-body">
			<div>
				<a href="{{calendar.pdfUrl}}"><i
					class="glyphicon glyphicon-download-alt"></i> T&#233;l&#233;charger
					la version PDF</a>
			</div>
			<div>
				<a href="{{calendar.excelUrl}}"><i
					class="glyphicon glyphicon-download-alt"></i> T&#233;l&#233;charger
					la version Excel</a>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Les rencontres
			<!-- <i class="glyphicon glyphicon-search"></i> <input
				type="text" ng-model="searchText"> -->
		</h3>

	</div>
	<div class="panel-body">
		<label>S&#233;lectionner </label><select
			ng-model="export_row_type"</select>
		<option value='all'>toutes les rencontres</option>
		<option value='visible'>les rencontres visibles</option>
		</select>
		<label> pour les exporter au </label>  <button ng-click="exportPDF()">format pdf</button>
		<div id="grid-events" ui-grid="gridEventOptions" class="grid-events"
			ui-grid-resize-columns ui-grid-pagination ui-grid-exporter></div>
	</div>
</div>

