<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Rechercher une actualit&#233; <i class="glyphicon glyphicon-search"></i>
			<input type="text" ng-model="searchTextNews">
		</h3>
	</div>
</div>

<div ng-repeat="feed in feeds | filter:searchTextNews" >
	<div class="panel panel-default" >
		<div class="panel-heading">
			<h3 class="panel-title" ng-bind-html="feed.title"></h3>
		</div>
		<div class="panel-body">
			<span ng-show="feed.imageUrl"><a href="/cbd84/{{feed.imageUrl}}"  target="_blank"><img  class="feeds-image-{{feed.imagePosition}} feeds-image-{{feed.imageWidth}} img-thumbnail"
				ng-src="/cbd84/{{feed.imageUrl}}" title="{{feed.imageTitle}}"></a></span><span
				ng-bind-html="feed.content"></span>
		</div>	
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-7">
					<span class="fb-like" ng-if="feed.facebookLike"></span>
				</div>
				<div class="col-md-5 feed-infos"
					ng-bind-html="formatInfoFeed(feed.author, feed.creationDate)"></div>
			</div>
		</div>
	</div>
</div>