<div ng-repeat="feed in feeds" >
	<div class="panel panel-default" >
		<div class="panel-heading">
			<h3 class="panel-title" ng-bind-html="feed.title"></h3>
		</div>
		<div class="panel-body">
			<span ng-show="feed.imageUrl"><img  class="feeds-image-{{feed.imagePosition}} feeds-image-{{feed.imageWidth}} img-thumbnail"
				ng-src="{{feed.imageUrl}}" title="{{feed.imageTitle}}"></span><span
				ng-bind-html="feed.content"></span>
		</div>	
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-7">
					<span class="fb-like" ng-if="feed.facebookLike"></span>
				</div>
				<div class="col-md-5 feed-infos"
					ng-bind-html="formatInfoFeed(feed.author, feed.creationDate)"></div>
			</div>
		</div>
	</div>
</div>